# Allow non-root reading of RAPL package energy (CPU power) for the SK700V monitor
SUBSYSTEM=="powercap", ACTION=="add|change", KERNEL=="intel-rapl:0", RUN+="/bin/chmod a+r /sys/devices/virtual/powercap/intel-rapl/intel-rapl:0/energy_uj"
